:root {
    --theme-light: rgb(185 229 229 / 28%);
    --theme-dark: #333;
    --header-dark: #4c4b4b;
    --white-color: #fff;
    --black-color: #000;
    --light-gray-color: #ddd;
    --nav-link: #006080;
    --ph-theme-btn: #006080;
    --nav-link-dark: #8282a7;
    --nav-link-active-light: #000e32;
    --ph__cart-bg: #df0b0b;
    --ph__cart-active-bg: #a30202;
    --home-btn: #00806f;
    --cart-btn-color: #df0b0b;
    --cart-btn-active-color: #a30202;
    --product-card-border: #ccc;
    --product-price-bg: #4caf50;
    --product-price-hover: #388e3c;
    --table-header-bg: #a92323;
    --cancel-btn-hover: #d32f2f;
    --ct-header-bg: #a92323;
    --cart-btn-bg: #2e7d32;
    --cart-btn-hover: #1b5e20;
}

.ph {
    height: 100vh;
}

.ligth-theme {
    background-color: var(--theme-ligth);
}

.dark-theme {
    background-color: var(--theme-dark);
    color: var(--white-color);
}

/* Header */
.ph-header {
    padding-left: 50px;
    padding-right: 50px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ph-header-light {
    background-color: var(--white-color);
}

.ph-header-dark {
    background-color: var(--header-dark);
}

.ph-header__logo {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
}

.ph-header__logo-light {
    color: var(--black-color);
}

.ph-header__logo-dark {
    color: var(--white-color);
}

.ph__wrapper {
    display: flex;
    align-items: center;
    gap: 70px;
}

.ph__theme-btn {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--nav-link);
    transition: all 0.5s ease-in-out;
}

.ph__nav {
    display: flex;
    gap: 40px;
    font-size: 18px;
    font-weight: 600;
}

.nav-link {
    color: var(--nav-link);
}

.nav-link-dark {
    color: var(--nav-link-dark);
}

.nav-link-active-light {
    font-weight: 700;
    color: var(--nav-link-active-light);
}

.nav-link-active-dark {
    color: var(--white-color);
}

.ph__cart {
    padding: 7px 12px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--ph__cart-bg);
}

.ph__cart-active {
    font-weight: bold;
    background-color: var(--ph__cart-active-bg);
    color: var(--white-color);
}
/* Header // */

/* Home About Products*/
.home,
.about,
.products,
.cart {
    padding-top: 70px;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.info {
    margin-bottom: 30px;
    width: 700px;
}

.title {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
}

.paragraph {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
}

.paragraph:last-child {
    margin-bottom: 0;
}

.home__img {
    width: 400px;
    border-radius: 10px;
}

.about__img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
}

.home__btn {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--white-color);
    background-color: var(--home-btn);
}
/* Home About Products // */

/* Products */
.products-container {
    display: flex;
    flex-direction: column;
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product__card {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid var(--product-card-border);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product__img {
    width: 200px;
    height: 200px;
}

.product__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__info {
    padding: 15px;
    text-align: center;
}

.product__name {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.product__description {
    margin-bottom: 15px;
    font-size: 14px;
}

.product__actions-title {
    margin-bottom: 10px;
    text-align-last: left;
}

.product__actions-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__cancel-btn:hover svg {
    color: var(--cancel-btn-hover);
}

.product__price {
    background-color: var(--product-price-bg);
    color: var(--white-color);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
}

.product__price:hover {
    background-color: var(--product-price-hover);
}
/* Products // */

/* Cart */
.cart__empty {
    margin: 60px;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.cart__title {
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 600;
}

.cart__table {
    margin-bottom: 40px;
    width: 100%;
    border-collapse: collapse;
}

.ct__thead,
.ct__cell {
    border: 1px solid var(--light-gray-color);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.ct__header {
    padding: 10px 20px;
    background-color: var(--ct-header-bg);
    color: var(--white-color);
    font-size: 24px;
}

.ct__tbody,
.ct__cell {
    background-color: var(--white-color);
    color: var(--black-color);
}

.ct__tfoot {
    font-size: 20px;
    margin-right: 20px;
}

.total {
    padding-top: 10px;
    padding-right: 120px;
}

.cart__p {
    margin-bottom: 30px;
    font-size: 20px;
    font-style: italic;
}

.cart__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.cart__form label {
    font-size: 18px;
    font-weight: 700;
    cursor: none;
}

.cart__form input {
    width: 300px;
    padding: 8px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    background-color: var(--white-color);
}

.cart__btn {
    margin-top: 15px;
    padding: 10px 30px;
    background-color: var(--cart-btn-bg);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
}

.cart__btn:hover {
    background-color: var(--cart-btn-hover);
}
